<p style="color: green"><%= notice %></p>

<h1>Pools</h1>

<div id="pools">
  <% @pools.each do |pool| %>
    <%= render pool %>
        <li>    <%= "#{pool.id} pool" %>
    </li>
    <p>
      <%= link_to "Show this pool", pool %>
    </p>
<%= link_to "Put a bet", edit_bet_pool_path(pool, params: {id: 1}) %>
  <% end %>
</div>

<%= link_to "New pool", new_pool_path %>