<h1 class="header">New pool</h1>

<%= form_with model: @pool do |form|%>

<div class="container">
<%= form.label :user_id, class: "label" %> <br>
<%= form.text_field :user_id, class: "input"%> 

<%= form.label :game_id, class: "label" %> <br>
<%= form.text_field :game_id, class: "input" %> 

<%= form.label "First team score", class: "label" %> <br>
<%= form.text_field :pred_first_team_score, class: "input" %> 

<%= form.label "Second team score", class: "label" %> <br>
<%= form.text_field :pred_second_team_score, class: "input" %> 

<%= form.submit "Create Pool", class: "btn"%>


<% end %>
</div> 

<div class="link_wrapper_menu" style="margin-top:30px">
  <%= link_to "Back to pools", pools_path %>
</div>