<h1 class ="header">Edit Team</h1>

<%= form_with model: @team do |form|%>



<div class="container">
<%= form.label "Team name", class: "label" %> <br>
<%= form.text_field :name , class: "input"%> 

<%= form.label "Logo", class: "label" %> <br>
<%= form.file_field :logo, class: "input" %> 

<%= form.label "Photo of the team", class: "label" %> <br>
<%= form.file_field :team_photo, class: "input" %> 

<%= form.submit "Submit", class: "btn"%>


<% end %>
</div>

<div class="link_wrapper_menu " style="margin-top:30px">
  <%= link_to "Back to teams", teams_path %>

</div>
