<h1>New team</h1>


<%= form_with model: @team do |form|%>

<div>
<%= form.label :name %> <br>
<%= form.text_field :name %> 
</div>

<div>
<%= form.label :logo %> <br>
<%= form.file_field :logo %> 
</div>

<div>
<%= form.label "Photo of the team" %> <br>
<%= form.file_field :team_photo %> 
</div>


<div>
<%= form.submit%>

</div> 

<% end %>

<div>
  <%= link_to "Back to teams", teams_path %>
</div>
