<h1>Edit Profile</h1>

<%= form_with model: @user do |form|%>


<div>
<%= form.label :first_name %> <br>
<%= form.text_field :first_name %> 
</div>

<div>
<%= form.label :last_name %> <br>
<%= form.text_field :last_name %> 
</div>


<div>
<%= form.submit%>

</div> 

<% end %>

<div>
 <p style="list-style: none; font-size: 25px; font-weight: bold">
  <%= link_to "Back to users", users_path %>
</p>

</div>
