<h1>Add score</h1>

<%= form_with model: @game do |form|%>


<div>
<%= form.label :first_team_score %> <br>
<%= form.text_field :first_team_score %> 
</div>

<div>
<%= form.label :second_team_score %> <br>
<%= form.text_field :second_team_score %> 
</div>

<div>
<%= form.label :status %> <br>
<%= form.text_field :status %> 
</div>

<div>
<%= form.submit%>

</div> 

<% end %>

<div>
  <%= link_to "Show this game", @game %> |
  <%= link_to "Back to games", games_path %>
</div>
