<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <li>    <%= "#{game.first_team.name} vs #{game.second_team.name}" %>
    </li>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>

<%= link_to "New game", new_game_path %>
<%# <%= link_to "Update game", edit_game_path(@game) %> %>
<%# <%= link_to "Add score", add_score_game_path(@game) %> %>
