<h1  class ="header">New game</h1>

<%= form_with model: @game do |form|%>

<div class="container">
<%= form.label :date , class: "label"%> <br>
<%= form.date_field :date, class: "input" %> 


<%= form.label :first_team_id, class: "label" %> <br>
<%= form.text_field :first_team_id, class: "input" %> 


<%= form.label :second_team_id, class: "label" %> <br>
<%= form.text_field :second_team_id, class: "input" %> 


<%= form.label :status, class: "label" %> <br>
<%= form.select :status, options_for_select(["ended", "expected"]), class: "input"  %> 


<%= form.submit "Create Game", class: "btn"%>

 

<% end %>
</div>

<div class="link_wrapper_menu" style="margin-top: 29px ">
  <%= link_to "Back to games", games_path %>
</div>