<p style="color: green"><%= notice %></p>


 <% @games.each do |game| %>
 <table style="  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(11, 61, 0);">
 <thead>
 <tr>
 <th style="font-size: 25px; font-weight: bold; color:white; background-color: 	green"><%= "Team"%> </th>
  <th style="font-size: 25px; font-weight: bold; color:white; background-color: 	green"><%= "Score"%></th>
 </thead>
 </tr>
 <tbody>
 <td style="font-size: 18px; margin-right: 10px; text-align: center;  background-color:rgba(143, 229, 124, 0.8);">
<%= "#{game.first_team.name} vs #{game.second_team.name}"%>
 
 </td>

 <td style="font-size: 18px; margin-right: 10px; text-align: center; background-color:rgba(101, 159, 88, 0.8)">
 <%=  game.first_team_score ? "#{game.first_team_score} : #{game.second_team_score}" : "__:__"%>
 </td>
 </tbody>
 </table>

 <% end %>
 <p style="list-style: none; font-size: 25px; font-weight: bold">
  <%= link_to "Back to games", games_path %>
</p>


</div>
