<%= stylesheet_link_tag "games.css"%>

<%= render @game %>
   <p class="match" >
      <%= "#{@game.date}  -  Match #{@game.first_team.name} vs #{@game.second_team.name}"  %>
    </p>
<div>

<div class="btn_wrapper">
 <%=button_to "Destroy this game", @game, method: :delete, class:"btn" %>
</div>

<div class="link_wrapper" style="margin-top:30px">
   <p style="list-style: none; font-size: 25px; font-weight: bold">
  <%= link_to "Edit this game", edit_game_path(@game) %> 
</p>

 <p style="list-style: none; font-size: 25px; font-weight: bold">
  <%= link_to "Back to games", games_path %>
</p>
</div>

</div>
